.main {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin: 20px 120px;
    position: relative;
    backdrop-filter: blur(2px);
}

.main_back {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    background-image: url("../Assets/back.png");
    backdrop-filter: blur(10px);
}

.side {
    width: 630px;
    /* border-radius: 60px; */
    background-image: url('../Assets/side.jpg');
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    margin-top: 65px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 2;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 65px;
    /* background: #fff; */
    background-color: rgba(255, 255, 255, 0.5);
    width: 250px;
    /* border-radius: 60px; */
    padding-bottom: 10px;
    flex: 1;
    /* Each container takes up equal space */
    /* Add some margin for spacing */
    padding: 20px;
    z-index: 2;
    position: relative;
    height: 540px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* Add padding for better visualization */
    /* border: 1px solid #ccc; */
    /* Add border for visualization */
}

.container-wrapper {
    display: flex;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 21px;
}

.text {
    color: #3c009d;
    font-size: 48px;
    font-weight: 700px;
}

.underline {
    height: 6px;
    width: 6px;
    background: #3c009d;
    border-radius: 9px;
}

.inputs {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 430px;
}

.input {
    display: flex;
    align-items: center;
    margin: auto;
    width: 450px;
    height: 65px;
    background: #eaeaea;
    border-radius: 30px;
}

.input img {
    margin: 0px 30px;
}

.input input {
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgot-passward {
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.forgot-passward span {
    color: #4c00b4;
    cursor: pointer;
}

.submit-container {
    display: flex;
    gap: 30px;
    margin: 70px auto;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray {
    background: #EAEAEA;
    color: #676767;
}