.header {
    
    height: 50px;
    width: 100%;
    
    padding: 0 20px;
    background-color: rgba(176, 224, 230, 0.457);
  }
  .nav {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
  }
  .nav,
  .nav_item {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .nav_logo,
  .nav_link,
  .button {
    color: #000000;
  }
  .nav_logo {
    font-size: 25px;
  }
  .nav_item {
    column-gap: 25px;
  }
  .nav_link:hover {
    color: #f00404;
  }