.event-form-container {
    max-width: 800px;
    /* Increased width */
    margin: 0 auto;
    padding: 2rem;
    background-color: #7FC7D9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-home-container {
    display: flex;
    justify-content: flex-start;
    margin-left: 160px;
}


/* Added this rule */

.event-form textarea {
    height: 200px;
    width: 80%;
    /* Increased height */
}

.header-text {
    text-align: center;
    margin-bottom: 2rem;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    flex-direction: column;
}

.form-column {
    flex: 1;
    margin-right: 1rem;
}

.form-column:last-child {
    margin-right: 0;
}

.event-form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.event-form input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    line-height: 1.5;
    width: 80%;
    box-sizing: border-box;
    height: 40px;
    margin-bottom: 1rem;
}

.event-form textarea {
    height: 150px;
}

.event-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #333;
}

.event-form button {
    flex: 1;
    padding: 0.5rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    height: 40px;
}

.event-form button:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .form-column {
        flex: 100%;
    }
}

.fileds {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}